<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="https://www.txdot.gov/" target="_blank">
        <!-- <img src="Picture1.png" alt="TxDOT"></a> -->
        <img src="logo2.png" height="50" alt="TxDOT"></a>

        <button class="navbar-toggler navbar-toggle-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.txdot.gov/inside-txdot/division/transportation-planning.html" target="_blank">TPP <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/CityCountyDistrict" target="_blank">City County District Search</a> -->
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/CityCountyDistrict" target="_blank">City County District Search</a>
              <a class="dropdown-item" href="https://txdot.maps.arcgis.com/home/index.html" target="_blank">TxDOT AGO</a>
              <a class="dropdown-item" href="http://gis-txdot.opendata.arcgis.com/" target="_blank">Open Data Portal</a>
              <a class="dropdown-item" href="https://www.txdot.gov/inside-txdot/division/transportation-planning/roadway-inventory.html" target="_blank">Roadway Inventory</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">(512) 486-5000 </a>
              <a class="dropdown-item" href="mailto:TPP-GIS@txdot.gov?Subject=Data%20Dictionary">Email Us  </a>
          </li>
        </ul>
      </div>
      </nav>
