<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<!--Create and connect to array for table  -->
<!--Convert array to DB table  -->
<!--Create exort to PDF function  -->
<!--Update search to be more exact in matching  -->
<!--Create footer  -->

<section id="main">

  <h1 style= "text-align: Center">GIS Data Dictionary</h1>

  <p style= "text-align: center">
  The GIS Data Dictionary is a resource for understanding terms, field names, and abbreviations commonly used in TxDOT GIS Data.</p>

  <form class="form-inline justify-content-center my-2 my-lg-0">
    <input class="form-control mr-lg-4 w-25 p-8" type="search" placeholder="Search Data Dictionary" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</section>

<% include partials/footer.ejs %>
